<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
     
    </startup>

  
  <connectionStrings>
    <!--clear tag is to remove the default connection string taken from machine.config-->
    <clear />
    <add connectionString="user id=uma;password=uma;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe))); Max Pool Size=10;Pooling=true;"
   providerName="System.Data.OracleClient"  name="conn1" />

    <add connectionString="user id=uma;password=itcell;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe))); Max Pool Size=10;Pooling=true;"
   providerName="System.Data.OracleClient"  name="studentconn" />
  </connectionStrings>
</configuration>